body{
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    max-width: 100%;
    background-color: #3F4E4F;
    color: white;
}


a{
    font-size: 20px;
    font-weight:lighter;
    color: white;   
    text-align: left;
}

.navbar{
height: 55px;
width: 110%;
background-color: #2C3639;
margin-left: -10px;
    margin-top: -15px;
}



.navtxt{
text-align: left;
padding-top: 15px ;
word-spacing: 80px;
}


.navbar a{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
}



.navbar a:hover{
   color: #DCD7C9; 
}



.box{
    height: auto ;
    width: 65%;
    background-color: #A27B5C;
    margin: auto;
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
    /* border-radius: 10% / 50%; */
    padding-top: 20px;
  padding-bottom: 70px;
  border-radius: 10px 100px / 120px;
  margin-bottom: 10%;
   
}


p{
    width: 700px;
    margin: auto;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}